<h1>Current Book List</h1>

<table style="width:450px">
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.author %></td>
      </tr>
    <% end %>
  </tbody>
</table><br/>
